* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.app {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    color: #000;
    text-align: center;
    gap: 20px;
}
.login , .register {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline:color-mix(in hsl shorter hue, color percentage, color percentage);

}
.auth-button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #746ec0;
    color: white;
    font-size: 16px;
}
option{
    font-size: 16px;
    background-color: rgb(226, 224, 224);
    border-radius: 5px;
    padding: 10px;
}

